@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ASOS ASAP";
}
@section Styles {
    <link href="@Url.Content("~/stylesheets/cover.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/stylesheets/index.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/stylesheets/map.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script src="@Url.Content("~/scripts/map.js")"></script>
    <script src="@Url.Content("~/scripts/index.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDejyl47XopChNRYsmWPNEUl1NtYGtG7k&callback=initMap" async defer></script>
}
<div class="cover-container">
    <div class="inner cover">
        <div class="brand">Asos Marketplace</div>
        @using (Html.BeginForm("Index", "Product"))
        {
            <div id="map"></div>
            <h4>Speedy deliveries from these Marketplace boutiques</h4>
            <fieldset style="margin-top:2em;">
                <label for="postcode">Postcode:</label>
                @Html.TextBox("postcode", null, new { style = "text-transform: uppercase;", @Value = "EC2A 3LT" })
                <input type="submit" value="Find fashion near me" />
            </fieldset>
        }
    </div>
</div>