@model Asos.FashionEmergency.Web.Controllers.Product

@{
    Layout = null;
}

<h2>@Model.Name</h2>
<p>@Model.Description</p>
<p>£@Model.Price @Model.Availability HR</p>
<img src="@Model.ImageUrl" />

<p>@Html.ActionLink("Buy now", "BuyProduct", new { productId = Model.Id })</p>